<nav class="navbar navbar-expand-lg navbar-dark bg-black">
  <div class="container-fluid">
    <%= link_to 'NAMEOFWEBSITE', items_path, class: "homelink navbar-brand" %>
    
    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Account
    </a>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
      <% if user_signed_in? %>
        <li><%= link_to 'Edit profile', edit_user_registration_path, class:"dropdown-item" %> </li>
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete, class:"dropdown-item" %> </li>
        <li><%= link_to 'New Item', new_item_path, class:"dropdown-item" %> </li>
      <% else %>
        <li><%= link_to "Login", new_user_session_path, class:"dropdown-item" %> </li>
        <li><%= link_to "Sign up", new_user_registration_path, class:"dropdown-item" %> </li>
      <% end %>
    </ul>
  </div>
</nav>

<div class="container border text-center p-5 bg-dark text-white ">
  <h2>Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Log in" %>
    </div>
  <% end %>

  <%= render "users/shared/links" %>
</div>