<%= form_with(model: item) do |form| %>
  <% if item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
        <% item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  

  <div class="container-fluid p-5 bg-white text-black text-left border">
    <h1>
      <div class="form-group">
        <label for="nameInput">Name of Item: </label>
        <%= form.text_field :title %>
        <!-- <input class="form-control form-control-lg" id="nameInput" placeholder="Enter New Name"> <%= form.text_field :mousestyle %> </input>
        -->
        </div>
    </h1>
  </div>

  <div class="container-fluid p-5 bg-white text-black text-left">
    <div class="form-group">
      <label for="imageInput">Input Images: </label>
      <input type="file" class="form-control-file" id="imageInput">
    </div>
  </div>

  <div class="container-fluid p-5 bg-white text-black text-left border">
    <div class="form-group">
      <label for="descriptionInput">Item description: </label>
      <textarea class="form-control" id="descriptionInput" rows="3" placeholder="Enter Description"></textarea>
    </div>
  </div>

  <div class="container-fluid p-1 bg-white text-black text-left form-group">
    <label>Price: </label>
    <input class="form-control" placeholder="$00.00">
  </div>

  <div class="container-fluid p-1 bg-white text-black text-left form-group">
    <label>Brand: </label>
    <select class="form-control">
      <option>--</option>
      <option>ASUS</option>
      <option>Corsair</option>
      <option>Logitech</option>
      <option>Redragon</option>
      <option>Apple</option>
    </select>
  </div>

  <div class="container-fluid p-1 bg-white text-black text-left form-group field">
    <label>Mousestyle: </label>
    <input class="form-control" placeholder="Enter Mousestyle">
    <%= form.text_field :mousestyle %>
  </div>

  <div class="field">
    <%= form.label :mousestyle %>
    <%= form.text_field :mousestyle %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
