
<nav class="navbar navbar-expand-lg navbar-dark bg-black">
  <div class="container-fluid">
    <%= link_to 'NAMEOFWEBSITE', items_path, class: "homelink" %>
    
    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Account
    </a>
    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
      <li><a class="dropdown-item" href="#">Login</a></li>
      <li><a class="dropdown-item" href="#">Sign Up</a></li>
    </ul>
  </div>
</nav>

<div class="container-fluid p-5 bg-white text-black text-center border">
  <h1>
    <strong>Name:</strong>
    <%= @item.title %>
  </h1>
</div>

<img class="rounded" src="s3300projectp2/app/assets/images/8357047_R_Z001A.jpg" alt="mouseimage"> 

<div class="container-fluid p-5 bg-white text-black text-center border">
  <h4>
    <strong>Description:</strong>
    <%= @item.description %>
  </h4>
</div>

<div class="container-fluid p-1 bg-white text-black text-center">
  <h4>
    <strong>Price:</strong>
    <%= @item.price %>
  </h4>
</div>

<div class="container-fluid p-1 bg-white text-black text-center">
  <h4>
    <strong>Brand:</strong>
    <%= @item.brand %>
  </h4>
</div>

<div class="container-fluid p-1 bg-white text-black text-center">
  <h4>
    <strong>Mousestyle:</strong>
    <%= @item.mousestyle %>
  </h4>
</div>

<div class="container-fluid p-5 bg-white text-black text-center">
  <%= link_to 'Edit', edit_item_path(@item) %> |
  <%= link_to 'Back', items_path %>
</div>